<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top : 20px;">
                <div class="cold-md-6 offset-md-3">
                    <div class="container text-center">
                        <img src="../../../assets/add-user.png" width="100" height="100">
                    </div>

                    <h1 class="text-center">Registrate aqui</h1>

                    <form action="">
                        <!--form de material agregar-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nombre de Usuario</mat-label>
                            <input matInput placeholder="Digite su nombre de usuario">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="Digite su contraseña">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Digite su nombre">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input matInput placeholder="Digite su apellido">
                        </mat-form-field>   

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Digite su Email">
                        </mat-form-field>   

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Telefono</mat-label>
                            <input matInput placeholder="Digite su telefono">
                        </mat-form-field>   

                        <div class="container text-center">
                            <button style="margin-left: 20px;"mat-raised-button color="primary">
                                Registrar
                            </button>

                            <button mat-raised-button color="accent">
                                Limpiar
                            </button>
                        </div>

                    </form>
                    <br><br><br>
                </div>
        </div>
    </div>

</div>